In [1]:
import pandas as pd
import numpy as np

In [2]:
# Read in data
data = pd.read_csv('/content/drive/MyDrive/cs485/20162020allstatesCO.csv')
data

        Unnamed: 0     V1        Date  ...     COUNTY  SITE_LATITUDE  SITE_LONGITUDE
0                1      1  01/01/2016  ...  Jefferson      33.553056      -86.815000
1                2      2  01/02/2016  ...  Jefferson      33.553056      -86.815000
2                3      3  01/03/2016  ...  Jefferson      33.553056      -86.815000
3                4      4  01/04/2016  ...  Jefferson      33.553056      -86.815000
4                5      5  01/05/2016  ...  Jefferson      33.553056      -86.815000
...            ...    ...         ...  ...        ...            ...             ...
484460      484461  88520  12/27/2020  ...    Wakulla      30.092500      -84.161111
484461      484462  88521  12/28/2020  ...    Wakulla      30.092500      -84.161111
484462      484463  88522  12/29/2020  ...    Wakulla      30.092500      -84.161111
484463      484464  88523  12/30/2020  ...    Wakulla      30.092500      -84.161111
484464      484465  88524  12/31/2020  ...    Wakulla      30.092500      -84.161111

[484465 rows x 22 columns]

In [3]:
# Date initially string, convert to datetime
data['Date'] = pd.to_datetime(data['Date'])
# Date convert datetime to year-month, no day
data['Date'] = pd.to_datetime(data['Date'],format='%m%Y', errors='coerce').dt.to_period('m')

In [4]:
data

        Unnamed: 0     V1     Date  ...     COUNTY  SITE_LATITUDE  SITE_LONGITUDE
0                1      1  2016-01  ...  Jefferson      33.553056      -86.815000
1                2      2  2016-01  ...  Jefferson      33.553056      -86.815000
2                3      3  2016-01  ...  Jefferson      33.553056      -86.815000
3                4      4  2016-01  ...  Jefferson      33.553056      -86.815000
4                5      5  2016-01  ...  Jefferson      33.553056      -86.815000
...            ...    ...      ...  ...        ...            ...             ...
484460      484461  88520  2020-12  ...    Wakulla      30.092500      -84.161111
484461      484462  88521  2020-12  ...    Wakulla      30.092500      -84.161111
484462      484463  88522  2020-12  ...    Wakulla      30.092500      -84.161111
484463      484464  88523  2020-12  ...    Wakulla      30.092500      -84.161111
484464      484465  88524  2020-12  ...    Wakulla      30.092500      -84.161111

[484465 rows x 22 columns]

In [5]:
data.columns

Index(['Unnamed: 0', 'V1', 'Date', 'Source', 'Site ID', 'POC',
       'Daily Max 8-hour CO Concentration', 'UNITS', 'DAILY_AQI_VALUE',
       'Site Name', 'DAILY_OBS_COUNT', 'PERCENT_COMPLETE',
       'AQS_PARAMETER_CODE', 'AQS_PARAMETER_DESC', 'CBSA_CODE', 'CBSA_NAME',
       'STATE_CODE', 'STATE', 'COUNTY_CODE', 'COUNTY', 'SITE_LATITUDE',
       'SITE_LONGITUDE'],
      dtype='object')

In [6]:
# Drop unnecessary columns
cleaner_data = data.drop(['Source', 'Site ID', 'Site Name', 'CBSA_CODE', 'CBSA_NAME', 'COUNTY_CODE', 'COUNTY', 'SITE_LATITUDE', 'SITE_LONGITUDE'], axis=1)
cleaner_data

        Unnamed: 0     V1     Date  ...  AQS_PARAMETER_DESC  STATE_CODE    STATE
0                1      1  2016-01  ...     Carbon monoxide           1  Alabama
1                2      2  2016-01  ...     Carbon monoxide           1  Alabama
2                3      3  2016-01  ...     Carbon monoxide           1  Alabama
3                4      4  2016-01  ...     Carbon monoxide           1  Alabama
4                5      5  2016-01  ...     Carbon monoxide           1  Alabama
...            ...    ...      ...  ...                 ...         ...      ...
484460      484461  88520  2020-12  ...     Carbon monoxide          12  Florida
484461      484462  88521  2020-12  ...     Carbon monoxide          12  Florida
484462      484463  88522  2020-12  ...     Carbon monoxide          12  Florida
484463      484464  88523  2020-12  ...     Carbon monoxide          12  Florida
484464      484465  88524  2020-12  ...     Carbon monoxide          12  Florida

[484465 rows x 13 columns]

In [7]:
# Group states by date, then perform aggregations 
cleaner_sum = cleaner_data.groupby(['Date','STATE']).sum()
cleaner_sum

                       Unnamed: 0         V1  ...  AQS_PARAMETER_CODE  STATE_CODE
Date    STATE                                 ...
2016-01 Alabama             31744      31744  ...             3915393          93
        Alaska              69626      69626  ...             2610262         124
        Arizona           8200585    8200585  ...            26102620        2480
        Arkansas           972315     972315  ...             1305131         155
        California      140209698  140209698  ...            92327493       13158
...                           ...        ...  ...                 ...         ...
2020-12 Virginia         97839476   15879689  ...             8714907       10557
        Washington       36517090    6029633  ...             3241777        4081
        West Virginia    14720350    2446179  ...             1305131        1674
        Wisconsin        29474738    4926396  ...             2610262        3410
        Wyoming          44530198    7707685  ...             3915393        5208

[3055 rows x 9 columns]

In [8]:
cleaner_sum.head(52)

                              Unnamed: 0  ...  STATE_CODE
Date    STATE                             ...
2016-01 Alabama                    31744  ...          93
        Alaska                     69626  ...         124
        Arizona                  8200585  ...        2480
        Arkansas                  972315  ...         155
        California             140209698  ...       13158
        Colorado                25367581  ...        2192
        Connecticut             14838088  ...        1395
        Delaware                 3001296  ...         310
        District Of Columbia     6053525  ...         682
        Florida                 42912823  ...        5100
        Georgia                   102816  ...         767
        Hawaii                    241769  ...        1395
        Idaho                     334459  ...        1488
        Illinois                  351386  ...        1326
        Indiana                   757137  ...        2250
        Iowa                      661548  ...        1710
        Kansas                    250046  ...         620
        Kentucky                  722370  ...        1743
        Louisiana                 592441  ...        1364
        Maine                     973431  ...        2139
        Maryland                 2535211  ...        3720
        Massachusetts            3388191  ...        4625
        Michigan                 5849173  ...        7254
        Minnesota                5054012  ...        5724
        Mississippi               782657  ...         868
        Missouri                 2051584  ...        2291
        Montana                  1583760  ...        1770
        Nebraska                 1572242  ...        1767
        Nevada                   6306472  ...        6912
        New Hampshire            1911057  ...        2046
        New Jersey               6070699  ...        6324
        New Mexico               2114138  ...        2170
        New York                 9951794  ...        9936
        North Carolina           2357674  ...        2294
        North Dakota             1201591  ...        1178
        Ohio                    17794925  ...       16809
        Oklahoma                 4801680  ...        4320
        Oregon                   2826766  ...        2542
        Pennsylvania            16234434  ...       14238
        Rhode Island             3114942  ...        2728
        South Carolina           2383714  ...        1395
        South Dakota             2394037  ...        1426
        Tennessee               14597342  ...        8742
        Texas                   32049455  ...       18864
        Utah                     4370846  ...        2548
        Vermont                  7914021  ...        4650
        Virginia                16524502  ...        9690
        Washington              10733575  ...        6413
        West Virginia            8346099  ...        5022
        Wisconsin                5256398  ...        3190
        Wyoming                  5859279  ...        3472
2016-02 Alabama                    32306  ...          87

[52 rows x 9 columns]

In [9]:
cleaner_mean = cleaner_data.groupby(['Date','STATE']).mean()
cleaner_mean

                          Unnamed: 0  ...  STATE_CODE
Date    STATE                         ...
2016-01 Alabama           341.333333  ...         1.0
        Alaska           1123.000000  ...         2.0
        Arizona         13226.750000  ...         4.0
        Arkansas        31365.000000  ...         5.0
        California      63935.110807  ...         6.0
...                              ...  ...         ...
2020-12 Virginia       472654.473430  ...        51.0
        Washington     474247.922078  ...        53.0
        West Virginia  474850.000000  ...        54.0
        Wisconsin      475399.000000  ...        55.0
        Wyoming        478819.333333  ...        56.0

[3055 rows x 9 columns]

In [10]:
states = ["Alaska","Alabama","Arkansas","Arizona","California","Colorado","Connecticut",
        "District of Columbia","Delaware","Florida","Georgia","Hawaii","Iowa","Idaho","Illinois","Indiana",
        "Kansas","Kentucky","Louisiana","Massachusetts","Maryland","Maine","Michigan","Minnesota","Missouri",
        "Mississippi","Montana","North Carolina","North Dakota","Nebraska","New Hampshire","New Jersey",
        "New Mexico","Nevada","New York","Ohio","Oklahoma","Oregon","Pennsylvania","Rhode Island","South Carolina",
        "South Dakota","Tennessee","Texas","Utah","Virginia","Vermont","Washington","Wisconsin","West Virginia","Wyoming"]

len(states)

test = []
months = 5*12
# key = 1 month, need a key for 60 months, but for 51 states

for i in range(60):
  test.extend([i+1] * len(states))

print(len(test))
print(test[0:51])

3060
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [11]:
cleaner_mean.shape

(3055, 9)

In [ ]:
# Export to gdrive
cleaner_mean.to_csv('/content/drive/MyDrive/cs485/2016-20CO_clean_mean.csv')
cleaner_sum.to_csv('/content/drive/MyDrive/cs485/2016-20CO_clean_sum.csv')

In [13]:
test = pd.read_csv('/content/drive/MyDrive/cs485/2016-20CO_clean_mean.csv')
test

         Date          STATE  ...  AQS_PARAMETER_CODE  STATE_CODE
0     2016-01        Alabama  ...             42101.0         1.0
1     2016-01         Alaska  ...             42101.0         2.0
2     2016-01        Arizona  ...             42101.0         4.0
3     2016-01       Arkansas  ...             42101.0         5.0
4     2016-01     California  ...             42101.0         6.0
...       ...            ...  ...                 ...         ...
3050  2020-12       Virginia  ...             42101.0        51.0
3051  2020-12     Washington  ...             42101.0        53.0
3052  2020-12  West Virginia  ...             42101.0        54.0
3053  2020-12      Wisconsin  ...             42101.0        55.0
3054  2020-12        Wyoming  ...             42101.0        56.0

[3055 rows x 11 columns]

In [22]:
dates = np.unique(test['Date'])
keys = []

for i,j in enumerate(dates):
  for k in test['Date']:
    if j == k:
      keys.append(i)

print(keys)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 48, 48, 48, 48, 48, 48, 48, 48, 48, 48, 48, 48, 48, 48, 48, 48, 48, 48, 48, 48, 48, 48, 48, 48, 48, 48, 48, 48, 48, 48, 48, 48, 48, 48, 48, 48, 48, 48, 48, 48, 48, 48, 48, 48, 48, 48, 48, 48, 48, 48, 48, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 54, 54, 54, 54, 54, 54, 54, 54, 54, 54, 54, 54, 54, 54, 54, 54, 54, 54, 54, 54, 54, 54, 54, 54, 54, 54, 54, 54, 54, 54, 54, 54, 54, 54, 54, 54, 54, 54, 54, 54, 54, 54, 54, 54, 54, 54, 54, 54, 54, 54, 54, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 56, 56, 56, 56, 56, 56, 56, 56, 56, 56, 56, 56, 56, 56, 56, 56, 56, 56, 56, 56, 56, 56, 56, 56, 56, 56, 56, 56, 56, 56, 56, 56, 56, 56, 56, 56, 56, 56, 56, 56, 56, 56, 56, 56, 56, 56, 56, 56, 56, 56, 57, 57, 57, 57, 57, 57, 57, 57, 57, 57, 57, 57, 57, 57, 57, 57, 57, 57, 57, 57, 57, 57, 57, 57, 57, 57, 57, 57, 57, 57, 57, 57, 57, 57, 57, 57, 57, 57, 57, 57, 57, 57, 57, 57, 57, 57, 57, 57, 57, 57, 57, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59]

In [28]:
test['Date_Keys'] = keys
test

         Date          STATE     Unnamed: 0  ...  STATE_CODE  Keys  Date_Keys
0     2016-01        Alabama     341.333333  ...         1.0     0          0
1     2016-01         Alaska    1123.000000  ...         2.0     0          0
2     2016-01        Arizona   13226.750000  ...         4.0     0          0
3     2016-01       Arkansas   31365.000000  ...         5.0     0          0
4     2016-01     California   63935.110807  ...         6.0     0          0
...       ...            ...            ...  ...         ...   ...        ...
3050  2020-12       Virginia  472654.473430  ...        51.0    59         59
3051  2020-12     Washington  474247.922078  ...        53.0    59         59
3052  2020-12  West Virginia  474850.000000  ...        54.0    59         59
3053  2020-12      Wisconsin  475399.000000  ...        55.0    59         59
3054  2020-12        Wyoming  478819.333333  ...        56.0    59         59

[3055 rows x 13 columns]

In [31]:
cleaner_data_keys = test.drop(['Unnamed: 0', 'V1', 'POC', 'DAILY_OBS_COUNT', 'PERCENT_COMPLETE', 'AQS_PARAMETER_CODE', 'STATE_CODE', 'Keys'], axis=1)
cleaner_data_keys

cleaner_data_keys['DM8CO_Concentration'] = cleaner_data_keys['Daily Max 8-hour CO Concentration']
cleaner_data_keys = cleaner_data_keys.drop(['Daily Max 8-hour CO Concentration'], axis=1)
cleaner_data_keys

         Date          STATE  DAILY_AQI_VALUE  Date_Keys  DM8CO_Concentration
0     2016-01        Alabama         6.688172          0             0.586022
1     2016-01         Alaska        12.677419          0             1.116129
2     2016-01        Arizona         8.922581          0             0.779032
3     2016-01       Arkansas         5.419355          0             0.461290
4     2016-01     California         6.754674          0             0.592339
...       ...            ...              ...        ...                  ...
3050  2020-12       Virginia         4.661836         59             0.409662
3051  2020-12     Washington         4.584416         59             0.405195
3052  2020-12  West Virginia         3.677419         59             0.332258
3053  2020-12      Wisconsin         3.241935         59             0.293548
3054  2020-12        Wyoming         1.010753         59             0.101075

[3055 rows x 5 columns]

In [32]:
# Export
cleaner_data_keys.to_csv('/content/drive/MyDrive/cs485/2016-20CO_clean_data_keys.csv')